<div class="form-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please add valid Email address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="d-block login-btn">Login</button>
    Don't have an account? <a routerLink="/signup">Signup</a>
  </form>
</div>
